.propsEditor {
  &.equalGrid {
    .formRow {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 8px;
      align-items: center;
      margin-bottom: 6px;
    }
  }

  &.ratioGrid {
    .formRow {
      display: grid;
      grid-template-columns: 1fr 2fr;
      gap: 8px;
      align-items: center;
      margin-bottom: 6px;
    }
  }

  .formLeft {
    min-width: 0;

    .formLabel {
      font-size: var(--font-size);
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;

      :global(.anticon) {
        margin-left: 8px;
      }
    }
  }

  .formRight {
    min-width: 0;

    .formInput {
      width: 100%;
      min-width: 0;
    }

    :global(.ant-input),
    :global(.ant-input-number),
    :global(.ant-input-number-input) {
      width: 100%;
      min-width: 0;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }

  .formActions {
    margin-top: 10px;
  }

  .emptyHint {
    color: #525252;
    font-size: var(--font-size);
    line-height: var(--line-height);
  }
}